<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataverse Binder Integration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <form>
          <div class="form-group">
            <label for="doi">Email address</label>
            <input type="text" class="form-control" name="doi" id="doi" aria-describedby="doiHelp" placeholder="DOI">
          </div>
            <button type="submit" class="btn btn-primary">Download files</button>
        </form>
    </div>
</body>
</html>